<a href="https://colab.research.google.com/github/Meta-Sean/6.0001/blob/main/6_0001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples, Lists, Aliasing, Mutability, and Cloning

In [ ]:
print(3.0-1)

In [ ]:
xy = 2

In [ ]:
def always_sunny(t1,t2):
  sun = ('sunny','sun')
  first = t1[0] + t2[0]
  return (sun[0], first)

In [ ]:
always_sunny('cloudy', 'cold')

In [ ]:
always_sunny(('cloudy'), ('cold',))

In [ ]:
L = ['life', 'answer', 42, 0]

for thing in L:
  if thing == 0:
    L[thing] = 'universe'
  elif thing == 42:
    L[1] = 'everything'

print(L)

In [ ]:
l1 = ['re']
l2 = ['mi']
l3 = ['do']
l4 = l1 + l2
l3.extend(l4)

In [ ]:
l3.sort()

In [ ]:
l3

In [ ]:
del(l3[0])

In [ ]:
l3.append(['fa','la'])

In [ ]:
l3

In [ ]:
l1 = ['bacon', 'eggs']
l2 = ['toast', 'jam']
brunch = l1

In [ ]:
l1.append("juice")

In [ ]:
l1

In [ ]:
brunch

In [ ]:
brunch.extend(l2)

In [ ]:
brunch

In [ ]:
l1



# Recursion and Dictionaries

In [ ]:
def mult_iter(a, b):
  result = 0
  while b > 0:
    result += a
    b -= 1
  return result

In [ ]:
mult_iter(2, 2)

4

In [ ]:
def mult(a, b):
  if b == 1:
    return a
  else:
    return a + mult(a, b-1)

In [ ]:
mult(2, 2)

4

In [ ]:
def fact(n):
  if n == 1:
    return 1
  else:
    return n*fact(n-1)
print(fact(4))

24

In [ ]:
def printMove(fr, to):
  print(f"Move from {str(fr)} to {str(to)}")

In [ ]:
def Towers(n, fr, to, spare):
  if n == 1:
    printMove(fr, to)
  else:
    Towers(n-1, fr, spare, to)
    Towers(1, fr, to, spare)
    Towers(n-1, spare, to, fr)

In [ ]:
Towers(4, 'a','b','c')

Move from a to c
Move from a to b
Move from c to b
Move from a to c
Move from b to a
Move from b to c
Move from a to c
Move from a to b
Move from c to b
Move from c to a
Move from b to a
Move from c to b
Move from a to c
Move from a to b
Move from c to b

In [ ]:
def fib(x):
  if x == 0 or x == 1:
    return 1
  else:
    return fib(x-1) + fib(x-2)

fib(11)

144

In [ ]:
def isPalindrome(s):
  def toChars(s):
    s = s.lower()
    ans = ''
    for c in s:
      if c in 'abcdefghijklmnopqrstuvwxyz':
        ans = ans + c
    return ans

  def isPal(s):
    if len(s) <= 1:
      return True
    else:
      return s[0] == s[-1] and isPal(s[1:-1])

  return isPal(toChars(s))

In [ ]:
isPalindrome('Able	was	I,	ere	I	saw	Elba’')

True

Dictionaries

In [ ]:
my_dict = {}

In [ ]:
grade = {"ana": "b", "john": "A+"}

In [ ]:
grade

{'ana': 'b', 'john': 'A+'}

In [ ]:
grade['john']

'A+'

In [ ]:
grade['Sylvan'] = 'A'

In [ ]:
'Sylvan' in grade

True

In [ ]:
grade

{'Sylvan': 'A', 'ana': 'b', 'john': 'A+'}

In [ ]:
grade.keys()

dict_keys(['ana', 'john', 'Sylvan'])

In [ ]:
grade.values()

dict_values(['b', 'A+', 'A'])

In [ ]:
def lyrics_to_frequencies(lyrics):
  myDict = {}
  for word in lyrics:
    if word in myDict:
      myDict[word] += 1
    else:
      myDict[word] = 1
  return myDict

In [ ]:
def most_common_words(freqs):
  values = freqs.values()
  best = max(values)
  words = []
  for k in freqs:
    if freqs[k] == best:
      words.append(k)
  return (words, best)

In [ ]:
she_loves_you = ['she', 'loves', 'you', 'yeah', 'yeah', 
'yeah','she', 'loves', 'you', 'yeah', 'yeah', 'yeah',
'she', 'loves', 'you', 'yeah', 'yeah', 'yeah',

'you', 'think', "you've", 'lost', 'your', 'love',
'well', 'i', 'saw', 'her', 'yesterday-yi-yay',
"it's", 'you', "she's", 'thinking', 'of',
'and', 'she', 'told', 'me', 'what', 'to', 'say-yi-yay',

'she', 'says', 'she', 'loves', 'you',
'and', 'you', 'know', 'that', "can't", 'be', 'bad',
'yes', 'she', 'loves', 'you',
'and', 'you', 'know', 'you', 'should', 'be', 'glad',

'she', 'said', 'you', 'hurt', 'her', 'so',
'she', 'almost', 'lost', 'her', 'mind',
'and', 'now', 'she', 'says', 'she', 'knows',
"you're", 'not', 'the', 'hurting', 'kind',

'she', 'says', 'she', 'loves', 'you',
'and', 'you', 'know', 'that', "can't", 'be', 'bad',
'yes', 'she', 'loves', 'you',
'and', 'you', 'know', 'you', 'should', 'be', 'glad',

'oo', 'she', 'loves', 'you', 'yeah', 'yeah', 'yeah',
'she', 'loves', 'you', 'yeah', 'yeah', 'yeah',
'with', 'a', 'love', 'like', 'that',
'you', 'know', 'you', 'should', 'be', 'glad',

'you', 'know', "it's", 'up', 'to', 'you',
'i', 'think', "it's", 'only', 'fair',
'pride', 'can', 'hurt', 'you', 'too',
'pologize', 'to', 'her',

'Because', 'she', 'loves', 'you',
'and', 'you', 'know', 'that', "can't", 'be', 'bad',
'Yes', 'she', 'loves', 'you',
'and', 'you', 'know', 'you', 'should', 'be', 'glad',

'oo', 'she', 'loves', 'you', 'yeah', 'yeah', 'yeah',
'she', 'loves', 'you', 'yeah', 'yeah', 'yeah',
'with', 'a', 'love', 'like', 'that',
'you', 'know', 'you', 'should', 'be', 'glad',
'with', 'a', 'love', 'like', 'that',
'you', 'know', 'you', 'should', 'be', 'glad',
'with', 'a', 'love', 'like', 'that',
'you', 'know', 'you', 'should', 'be', 'glad',
'yeah', 'yeah', 'yeah',
'yeah', 'yeah', 'yeah', 'yeah'
]
most_common_words(lyrics_to_frequencies(she_loves_you))

(['you'], 36)

In [ ]:
def words_often(freqs, minTimes):
  results = []
  done = False
  while not done:
    temp = most_common_words(freqs)
    if temp[1] >= minTimes:
      results.append(temp)
      for w in temp[0]:
        del(freqs[w])
    else:
      done = True

  return results
beatles = lyrics_to_frequencies(she_loves_you)
print(words_often(beatles, 5))

[(['you'], 36), (['yeah'], 28), (['she'], 20), (['loves'], 13), (['know'], 11), (['be'], 10), (['and'], 8), (['that', 'should', 'glad'], 7), (['love'], 5)]

In [ ]:
def fib_efficient(n, d):
  if n in d:
    return d[n]
  else:
    ans = fib_efficient(n-1, d) + fib_efficient(n-2, d)
    d[n] = ans
    return ans
d = {1:1, 2:2}
print(fib_efficient(6, d))

13

In [ ]:
d

{1: 1, 2: 2, 3: 3, 4: 5, 5: 8, 6: 13}

# Testing, Debugging, Exceptions, and Assertions

########################################
### EXAMPLE: Buggy code to reverse a list
### Try to debug it! (fixes needed are explained below)
########################################

In [8]:
try:
  a = int(input("tell me a number: "))
  b = int(input("Tell me another number: "))
  print("a/b = ", a/b)
  print("a+b = ", a+b)


except ValueError:
  print("Could not convert to a nubmer")

except ZeroDivisionError:
  print("Can't divide by zero")
except:
  print("Something bad happened")

tell me a number: 1
Tell me another number: 0
Can't divide by zero

In [1]:
def rev_list_buggy(L):
   """
   input: L, a list
   Modifies L such that its elements are in reverse order
   returns: nothing
   """
   for i in range(len(L)):
       j = len(L) - i
       L[i] = temp
       L[i] = L[j]
       L[j] = L[i]

In [11]:
def get_ratios(L1, L2):
  """ Assumes: L1 and L2 are lists of equal length of numbers
  Returns: a list containing L1[i]/L2[i] """
  ratios = []
  for index in range(len(L1)):
    try:
      ratios.append(L1[index]/L2[index])
    except ZeroDivisionError:
      ratios.append(float('nan')) #nan = not a number
    except:
      raise ValueError('get_ratios called with bad arg')
  return ratios

In [16]:
get_ratios([2,4,6], [1,2,3])

[2.0, 2.0, 2.0]

In [25]:
def avg(grades):
  try:
    return sum(grades)/len(grades)
  except ZeroDivisionError:
    print('warning: no grades data')

def get_stats(class_list):
  new_stats = []
  for elt in class_list:
    new_stats.append([elt[0], elt[1], avg(elt[1])])
  return new_stats

In [1]:
class_list = [[['peter', 'parker'], [80.0, 70.0, 85.0]], 
[['bruce', 'wayne'], [100.0, 80.0, 74.0]]]
class_list2 = [[['peter', 'parker'], []], 
[['bruce', 'wayne'], []]]

In [2]:
def avg(grades):
  assert len(grades) != 0, 'no grades data'
  return sum(grades)/len(grades)

# Object Oriented Programming